.row {
  margin-right: 0px;
  margin-left: 0px;
  transition: all .4s ease-in-out;
}

.header-container {
  font-family: 'Mulish', sans-serif;
  width: 100%;
  height: 1200px;
  background: url('../assets/header_picture.png') no-repeat center top fixed;
  color: #ffffff;
}

.header__container_menu {
  height: 14vh;
}

.header__container_menu > img {
  height: 75px;
}

.menu {
  height: 100%;
}

.menu__link {
  font-family: "Myriad Pro";
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  color:#fff;
  transition: all .4s ease-in-out;
  outline: none;
}

.menu__link:hover:after {
  content: "";
  position: absolute;
  width: 7vw;
  height: 6px;
  margin-top: 5vh;
  display: block;
  background-color: #11749e;
}

.menu__link-contact {
  padding-right: 0;
  padding-left: 0;
}

.menu__link-contact > img {
  height: 20px;
}

.line {
  width: 100%;
  height: 1px;
  margin: 0;
  background-color: #24566a;
  transition: all .4s ease-in-out;
}


.header__container {
  height: calc(1200px - 14vh);
}

.header__container_section {
  width: 100%;
  margin: auto;
  text-align: center;
  position: absolute;
  top: 35%;
  left: 50%;
  transform:translate(-50%,-50%)
}

.section__title {
  width: 50vw;
  margin: 0 auto;
}

.section__title_name-of-company {
  color: #f5f5f5;
  font-family: Gotham;
  font-size: 134px;
  font-weight: 700;
  text-transform: uppercase;
}

.section__title_subtitle {
  width: 810px;
  height: 19px;
  font-family: Gotham;
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
  color: #11749e;
  letter-spacing: 16px;
}

.section__scroll-down {
  margin-top: 9%;
}

.section__scroll-down_tex {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 400;
}

.section__scroll-down_btn {
  padding: 3vh 2vh;
  margin: 0 auto;
  width: 8vh;
  height: 8vh;
  border: 2px solid #fff;
  border-radius: 50px;

  -webkit-padding-before: 2.5vh;
}

.section__scroll-down_btn > img {
  height: 18px;
}

/* info section */

.info-container {
  background-color: #11749e;
}

.info-container__content {
  margin: 12vh 0;
  color: #ffffff;
  text-align: center;
}

.section-title {
  color: #ffffff;
  font-family: Gotham;
  font-size: 38px;
  font-weight: 500;
  line-height: 45px;
  text-transform: uppercase;
  margin-top: 3vh;
  margin-bottom: 17vh;
}

.section-title:before {
  content: "W";
  width: 185px;
  height: 176px;
  position: absolute;
  transform:translate(-50%,-50%);
  left: 50%;
  top: 10%;
  opacity: 0.18;
  color: #ffffff;
  font-family: "Roboto Condensed";
  font-size: 247px;
  font-weight: 700;
  line-height: 210.64px;
}

.info-item__icon {
  width: 133px;
  height: 133px;
  margin: 0 auto;
  padding-top: 5.5vh;
  background-color: #2e85aa;
  border-radius: 50%;
  -webkit-padding-before: 5.5vh;
}

.info-item__icon_picture {
  width: 35px;
}

.item__title {
  margin-top: 2.7vh;
  margin-bottom: 4vh;
  color: #ffffff;
  font-family: Gotham;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.item__text {
  max-width: 258px;
  margin: 0 auto;
  display: inline-block;
  font-family: "Gotham Book";
  font-size: 15px;
  font-weight: 600;
  text-align: justify;
  line-height: 24px;
  word-spacing: 3px;
  color: #ffffff;
}

/* form */

.form-container {
  background: url('../assets/form-background.png') no-repeat center top fixed;
}

/* merge with info-container */
.container {
  margin: 18vh 0;
  color: #ffffff;
  text-align: center;
}

.section-title--c:before {
  content: 'C';
  top: 6%;
}

.form-container_form > div {
  margin-bottom: 4.3vh;
}

.form__item {
  padding: 22px 20px;
  color: #fff;
  font-family: 'Gotham Book';
  font-size: 15px;
  font-weight: 400;
  line-height: 36px;
  background: none;
  border: 1px solid #fff;
  border-radius: 0;
  font-size: 15px;
  font-family: 'Gotham Book';
  font-weight: 600;
}

.form__item::-webkit-input-placeholder {
  color: #fff;
}

.form__item::-ms-input-placeholder {
  color: #fff;
}

.form__item::placeholder {
  color: #fff;
}

.form__item:focus {
  background: none;
  color: #fff;
  box-shadow: none;
  border: 1px solid #11749e;
}

.form__item_textarea{
  width: 81.5vw;
  height: 18vh;
  resize: none;
  overflow: auto;
  outline: none;
}

.form__btn {
  display: block;
  margin: 0 auto;
  font-family: Gotham;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 3rem;
  padding: 3vh 8vh;
  color: #fff;
  background-color: #11749e;
  border-radius: 0;
}

.mr-2vh {
  margin-right: 2vh;
}

.ml-2vh {
  margin-left: 2vh;
}